pm_api_token_id = "<id of your Proxmox token, e.g. 'root@pam!terraform'>"
pm_api_token_secret = "<token secret given by Proxmox, e.g. '00000000-0000-0000-0000-000000000001'>"

pm_ci_user = "<username to use on VMs>"
pm_ci_password = "<password to use on VMs>"
pm_ci_sshkeys = "<ssh public key>"